<div class="col-xs-8 col-xs-offset-2">
  <input type="text" class="form-control" [(ngModel)] = "carName">
  <hr>
  <button class="btn btn-primary" (click)="loadCars()">Загрузить машины</button>
  <button class="btn btn-success" (click)="addCar()" >Добавить машину</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
      <span class="badge" [ngStyle]="{background: car.color}">{{car.id}}</span> {{car.name}}
      <button class="btn btn-xs btn-info" (click)="setNewColor(car)">изменить цвет</button>
      <button class="btn btn-xs btn-danger" (click)="deleteCar(car)">удалить машину</button>
    </li>
  </ul>
</div>
